				<div class="containerTiles">
					<div class="tileBlue bigTile">
						<p id="interets">Windows 8</p>
						<p class="pTile">{{tiles-legend.en.interests}}</p>
					</div>
					<div class="clear"></div>

					{{> tile-img tiles-img.bloc2-1 }}
					<div class="clear"></div>
					
					<div class="tileGreen bigTile">
						<p class="citations">"{{tiles-color.bloc2-2}}"</p>
						<p class="pTile">{{tiles-legend.en.quotes}}</p>
					</div>
					<div class="clear"></div>
				</div>
	    		<div class="clear"></div>