<!DOCTYPE html>
<html lang="fr">
	<head>
        <title>Elodie Batista - Developpement Web - Toulouse</title>

        <meta name="description" content="Etudiante en informatique à Supinfo, je suis passionnée par le développement Web et la programmation.">
		<meta name="keywords" content="elodie, batista, développement, web, programmation, supinfo, toulouse, informatique, application">
		<meta charset="utf-8">

		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../css/base.min.css">
        <link rel="stylesheet" type="text/css" href="../css/accueil.min.css">
	</head>
    <body>
    	<div class="container">
			<br /><br /><br />
	    	<h4>PRIVACY POLICY</h4>

			<p>Elodie Batista does not collect or use any of your
			personal information.

			Elodie Batista does log crash reports locally on
			your device. I (Elodie BATISTA.) don't collect these reports
			unless you manually send them to us.</p>
    	</div>
    </body>
</html>