							<div class="tile-container">
								<div class="tileBlue2 tile-big">
									<p class="tile-content-quotes">{{bloc1-1}}</p>
									<p class="tile-legend">{{tiles-legend.presentation}}</p>
								</div>
								{{> tile-color tiles-color.bloc1-2 }}
								{{> tile-img tiles-img.bloc1-1 }}
								<div class="clear"></div>

						    	{{> tile-img tiles-img.bloc1-2 }}
								{{> tile-color tiles-color.bloc1-3 }}
								<div class="clear"></div>

								{{> tile-color tiles-color.bloc1-4 }}
								{{> tile-img tiles-img.bloc1-3 }}
								<div class="clear"></div>
							</div>