{{> header }}

    		<div class="start-container">
				<div id="start-subcontainer">
					<ul id="start-slide">
						<li>
							<h4>{{title1}}</h4>

							{{> bloc-presentation}}
						</li>

						<li>
							<h4>{{title2}}</h4>

							{{> bloc-diverse }}
						</li>

						<li>
							<h4>{{title3}}</h4>

							{{> bloc-social }}
						</li>
					</ul>
				</div>
			</div>
    	</div>

{{> footer }}