@font-face {
	font-family: "Segoe Light";
	src: url("../fonts/segoeuil.ttf")
}

body {
  background-image: url(../img/background.gif);
  font-family: "Segoe Light";
}

h1 {
	color: white;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

h4 {
	color: rgb(69, 69, 69);
  font-size: 20px;
  font-weight: lighter;
  margin: 10px auto 20px 10px;
}

div.bloc {
	background-color: white;
	border: solid 1px rgb(220, 220, 220);
	min-height: 100px;
	font-size: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

div.band {
	width: 100%;
	height: 10px;
	border-radius: 5px 5px 0 0;
}

div.blue 		{ background-color: rgb(26, 187, 236); 	}
div.pink 		{ background-color: rgb(247, 109, 167); }
div.orange	{ background-color: rgb(254, 166, 83); 	}

input[type="text"] {
  color: rgb(26, 187, 236);
  font-family: "Segoe Light";
  margin: auto auto 0 10px;
  padding-left: 2px;
  border-radius: 0;
}

input[type="submit"],
button {
	width: 80px;
  height: 30px;
  color: white;
  font-family: "Segoe Light";
	background-color: rgb(26, 187, 236);
  border: 1px solid rgb(220, 220, 220);
}

div#result {
	margin-left: 10px;
}

div#list-item, 
div#list-dependency,
div#result-sort {
	margin-left: 10px;
}

ul {
  color: rgb(57, 73, 89);
  margin: 10px auto auto 10px;
  padding: 0;
  list-style-type: circle;
}

.navbar-inverse .navbar-inner {
	background-color: rgb(57, 73, 89) !important;
	background-image: none !important;
	border-color: rgb(25, 39, 58);
}

label {
	display: inline;
	vertical-align: middle;
}

p.error {
  color: red;
  margin: 10px auto auto -10px;
}

p#instructions {
	color: grey;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}