				<div class="tile-container">
					<div class="tileBlue tile-big">
						<p id="tile-content-interests">Windows 8</p>
						<p class="tile-legend">{{tiles-legend.interests}}</p>
					</div>
					<div class="clear"></div>

					{{> tile-img tiles-img.bloc2-1 }}
					<div class="clear"></div>
					
					<div class="tileGreen tile-big">
						<p class="tile-content-quotes">"{{tiles-color.bloc2-2}}"</p>
						<p class="tile-legend">{{tiles-legend.quotes}}</p>
					</div>
					<div class="clear"></div>
				</div>
	    		<div class="clear"></div>