					<div class="containerTiles">
						{{> tile-img tiles-img.bloc3-1}}
						{{> tile-color tiles-color.bloc3-1 }}
						<div class="clear"></div>

						{{> tile-color tiles-color.bloc3-3 }}
						<div class="clear"></div>

						{{> tile-color tiles-color.bloc3-4 }}
						{{> tile-img tiles-img.bloc3-4}}
						<div class="clear"></div>
					</div>