							<div class="containerTiles">
								<div class="tileBlue2 bigTile">
									<p class="citations">{{tiles-color.bloc1-1.fr.text}}</p>
									<p class="pTile">{{tiles-legend.fr.presentation}}</p>
								</div>
								{{> tile-color tiles-color.bloc1-2 }}
								{{> tile-img tiles-img.bloc1-1 }}
								<div class="clear"></div>

						    	{{> tile-img tiles-img.bloc1-2 }}
								{{> tile-color tiles-color.bloc1-3 }}
								<div class="clear"></div>

								{{> tile-color tiles-color.bloc1-4 }}
								{{> tile-img tiles-img.bloc1-3 }}
								<div class="clear"></div>
							</div>