    	<footer>
    		<p>© <strong>Elodie BATISTA</strong> {{footer-text}} <strong>Elodie BATISTA</strong> | <a href="legal.html">{{footer-legal}}</a></p>
    	</footer>

    	{{#javascript_bundle}}/js/{{js-bundle}}.js{{/javascript_bundle}}
    </body>
</html>