{{> header }}

	    	<div class="containerNormal">
	    		{{#each paragraphs}}
	      			<h4>{{this.title}}</h4>
	      			<aside class="paragraph">
			    		{{{this.text}}}
			    	</aside>
	      			<div class="clear"></div>
			    	<br /><br />
		    	{{/each}}
	    	</div>
		</div>

{{> footer }}