/*==================================
============== TITRES ==============
==================================*/
h6.red 		{ background-color: rgb(194, 1, 80); margin-top: 0px; }
h6.orange 	{ background-color: rgb(230, 109, 26); 	}
h6.rose 	{ background-color: rgb(183, 26, 107); 	}
h6.jaune 	{ background-color: rgb(245, 180, 1); 	}


/*==================================
================ CV ================
==================================*/
div.content { margin-top: -30px; text-align: justify; }

p.title { 
	float: left;
	width: 250px;
	margin-top: 0px;
	font-family: "Segoe UI", "Robot Light"; 
	font-size: 20px; 
}

p.date {
	margin-top: 0px;
	color: rgb(128, 128, 128);
	font-size: 18px;
}

p.normal {
	float: left;
	width: 746px;
	margin-top: 0px;
	text-align: justify;
}

p.titleRed 		{ color: rgb(190, 29, 74); 	}
p.titleOrange 	{ color: rgb(230, 109, 26); }
p.titleRose 	{ color: rgb(183, 26, 107); }
p.titleJaune 	{ color: rgb(245, 180, 1); 	}
p.titleBlue 	{ color: rgb(9, 90, 195); 	}
p.titleGrey 	{ color: rgb(128, 128, 128); width: 500px; }

span.square { color: rgb(220, 220, 220); }

nav a.aLabel {
	float: right;
	margin-left: 23px;
}

img.download { 
	float: right; 
	margin-bottom: 10px;
	margin-left: 30px;
    margin-right: 5px;
}


/*==================================
============ SELECTION =============
==================================*/
p::-moz-selection, strong::-moz-selection,
a::-moz-selection, span::-moz-selection,
div::-moz-selection, h1::-moz-selection, 
h2::-moz-selection, h3::-moz-selection, 
h4::-moz-selection, h5::-moz-selection, 
h6::-moz-selection, label::-moz-selection {
	background: rgb(194, 1, 80);
	color: white;
}
p::-webkit-selection, strong::-webkit-selection,
a::-webkit-selection, span::-webkit-selection,
div::-webkit-selection, h1::-webkit-selection, 
h2::-webkit-selection, h3::-webkit-selection, 
h4::-webkit-selection, h5::-webkit-selection, 
h6::-webkit-selection, label::-webkit-selection {
	background: rgb(194, 1, 80);
	color: white;
}
p::selection, strong::selection,
a::selection, span::selection,
div::selection, h1::selection, 
h2::selection, h3::selection, 
h4::selection, h5::selection, 
h6::selection, label::selection {
	background: rgb(194, 1, 80);
	color: white;
}